---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404" description="this is my desc">

<section class="page-content">

    <div class="wrapper">
        Not found 
    </div>
</section>
    
 
