---
import Noindex from '../layouts/Noindex.astro';
---

<Noindex title="impress" description="this is my desc">

<div class="wrapper">

    <h1>Vielen Dank für deine Nachricht. Wir melden uns.</h1>
    
</div>


