---
import logo from '../images/logo.png';
---
<header>
    <div class="wrapper_header">

    <a href="/">   
    <h2>Tech<span>linko</span></h2>
    </a>    

    <nav>


        <ul>
           
            <li><a href="/">Home</a></li>
            <li><a href="/about">Über Uns</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul> 

    </nav>

    </div>  
</header>



<style>

    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }


    h2 {
        color: rgb(30, 30, 30);
        font-size: 48px;
        margin: 0;
    }
    
    header {
        background-color: white;
        color: rgb(30, 30, 30);
        text-align: center;
        padding: 12px;
    }

    a {
        color: rgb(30, 30, 30);
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
    }
    span {
        color: #5053ff;
        font-size: 48px;
    }

    @media only screen and (min-width: 600px) {
   
    }
}




</style>