---
import { Image } from "astro:assets";
import astroImage from "../assets/jong-hi.png";
---

<div class="wrapper hero">
    <div class="hero_left">
        <h1>Der Technikblog 2023</h1>
        <p>
            Willkommen bei Techlinko. Wir haben uns zur Aufgabe gemacht die
            beste Technik 2023 für euch zu testen und euch unsere Ergebnisse
            vorzustellen. Aktuell findet Ihr bei uns größtenteils Laptop
            Empfehlungen. Allerdings sind neue Artikel bereits in der Pipeline.
            Besucht uns einfach öfter.
        </p>
    </div>
    <div class="hero_right">
        <Image src={astroImage} alt="A description of my image." />
    </div>
</div>

<style>
    h1 {
        font-size: 42px;
        line-height: 46px;
        font-weight: 800;
        margin-bottom: 0;
    }

    .wrapper {
        margin-bottom: 0;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(213, 213, 213);
        max-width: 90%;
        width: unset;
        margin-bottom: 64px;
    }

    img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .hero_left {
        padding: 10px;
    }

    .hero_right {
        text-align: center;
    }

    @media screen and (min-width: 600px) {
        .wrapper.hero {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-gap: 36px;
            width: 1000px;
        }

        .hero_right {
            text-align: unset;
        }

        p {
            width: 90%;
        }
    }
</style>
