<!DOCTYPE html>
<html lang="de">

    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145426673-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145426673-1');
</script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }}{% endif %}</title>
       
        <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">

      </head>

  <body>


    {% include hero-zoom.html %}
    
    {% include header.html %}


    <main class="page-content" aria-label="Content">
      <div class="wrapper">


        <div class="home">

    
        {{ content }}
          
            {%- if site.posts.size > 0 -%}
              <h2 class="post-list-heading">{{ page.list_title | default: "Unsere Tech Artikel" }}</h2>
              <ul class="post-list">
                {%- for post in site.posts -%}
                <li>
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <span class="post-meta">{{ post.date | date: date_format }}</span>
                  <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h3>

                <p>{{ post.excerpt }}</p>
                <a class="read-more" href="{{ post.url | relative_url }}">Mehr dazu</a>
                </li>
                {%- endfor -%}

              </ul>
          
              <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Abonnieren</a></p>
            {%- endif -%}
          
          </div>






      </div>
    </main>








    {% include footer.html %}



