<!DOCTYPE html>
<html lang="de">

    <head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }}{% endif %}</title>
       
        <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">

      </head>

  <body>


    
    {% include header.html %}


    <main class="page-content" aria-label="Content">
      <div class="wrapper">



        <time class="date" itemprop="dateModified" datetime="{{ page.update }}">Aktualisiert: <span class="updated">{{ page.update }}</span></time><br>
        <span class="author" itemscope="" itemprop="author" itemtype="http://schema.org/Person">Verfasst von <a href="/about">{{ page.author}}</a> </span>

        <br>
        <br>

        <img src="{{ page.image }}" alt="{{ page.alt }}">

        <br>
        <br>


        <h1>{{ page.title }}</h1>

        {{ content }}

      </div>
    </main>








    {% include footer.html %}



